# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extra files in libevent-build directory
libevent-build/Win32/*
libevent-build/bench.dir/*
libevent-build/bench_cascade.dir/*
libevent-build/bench_http.dir/*
libevent-build/bench_httpclient.dir/*
libevent-build/bin/*
libevent-build/dns-example.dir/*
libevent-build/event-read-fifo.dir/*
libevent-build/event_core_shared.dir/*
libevent-build/event_extra_shared.dir/*
libevent-build/event_shared.dir/*
libevent-build/hello-world.dir/*
libevent-build/http-connect.dir/*
libevent-build/http-server.dir/*
libevent-build/lib/*
libevent-build/libevent.VC.VC.opendb
libevent-build/libevent.VC.db
libevent-build/regress.dir/*
libevent-build/signal-test.dir/*
libevent-build/test-changelist.dir/*
libevent-build/test-dumpevents.dir/*
libevent-build/test-eof.dir/*
libevent-build/test-fdleak.dir/*
libevent-build/test-init.dir/*
libevent-build/test-ratelim.dir/*
libevent-build/test-time.dir/*
libevent-build/test-weof.dir/*
libevent-build/time-test.dir/*
libevent-build/watch-timing.dir/*
